.taskCard {
  width: 13rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 10px;
  border-bottom: 5px solid #fff;
  margin-top: 1rem;
  margin-left: 1rem;
}

.deleteButton {
  width: 60%;
  margin: 0 auto;
  font-size: 0.6rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressContainer {
  box-sizing: content-box;
  display: inline-block;
  font-size: 0.8rem;
}

.progress {
  border-radius: 15px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  /* margin-bottom: 0.3rem; */
}

.toDo {
  color: white;
  background-color: rgb(161, 157, 157);
}

.inProgress {
  color: white;
  background-color: rgb(232, 232, 109);
}

.done {
  color: white;
  background-color: rgb(92, 167, 92);
}

.changeContainers {
  display: flex;
}

.modalBody {
  display: flex;
  justify-content: space-around;
}

.progressContainerModal {
  width: 40%;
}

.modalButton {
  border: none;
  width: 45%;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(114, 111, 111);
  transition: all 0.3s ease;
}

.modalButton:hover {
  color: white;
  background-color: rgb(186, 181, 181);
  border: 1px solid lightgray;
}

.active {
  background-color: rgb(114, 111, 111);
  color: white;
}

.hide {
  display: none;
}
